body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(26 28 44);
    color: #00fff6;
}

.wrapper {
    padding: 1.6%;
}

.scan-results {
    color: rgb(121, 251, 15);
}

.visits {
    color: rgb(121, 251, 15);
}

.nav {
    padding: 2%;
    background: #00a7a1;
}

.nav h1 {
    margin: 0;
    color: white;
}

.wrapper {
    font-size: 1.2em;
}

.scan-container {
    text-align: center;
}

.hash {
    background: rgb(104, 104, 104);
    width: auto;
    font-size: 1.34rem;
    border-radius:5px;
    padding: 10px;
}

button {
    font-size: 1em;
    padding: .2em;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer;
}

p {
    word-break: break-all;
}
.cookie {
    font-size: .9em;
}
.copy {
    text-align: center;
    width: 96%;
}

@media all and (max-width: 990px) {
    .nav {
        padding: 3.5%;
    }
}