body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.wrapper {
    padding: 1.5%;
}

.nav {
    padding: 2%;
    background: teal;
}

.nav h1 {
    margin: 0;
    color: white;
}

.wrapper {
    font-size: 1.2em;
}

p {
    word-break: break-all;
}
.cookie {
    font-size: .9em;
}
.copy {
    text-align: center;
    width: 96%;
}

@media all and (max-width: 990px) {
    .nav {
        padding: 3.5%;
    }
}