<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie monster</title>
</head>
<body>
    <img src="https://i.pinimg.com/originals/29/cf/fa/29cffa64267156c38a4737202cce45f4.gif" style="width: 100%;">
<br> <center><div style="text-align: center;"> &copy; ujjwal-kr</div></center>
</body>
</html>