<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cookie monster</title>
</head>
<body>
    <iframe src="https://giphy.com/embed/bAlYQOugzX9sY" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

    <p><%= data.header %></p>
    <p><%= data.ip %></p>
    <p><%= data.country %></p>

<br> <center><a href="https://github.com/ujjwal-kr" style="text-align: center;"> &copy; ujjwal-kr</a></center>


<script src="https://cdn.jsdelivr.net/gh/cferdinandi/saferInnerHTML@1.0.0/dist/saferInnerHTML.polyfills.min.js"></script>
<script>
    
</script>
</body>
</html>
